*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8f5e9;
    text-align: center;
}

header{
    background-color: #2e7d32;
    color: white;
    padding: 20px;
}

main{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.card{
    background-color: white;
    width: 80%;
    max-width: 700px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.foto{
    width: 220px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card img:not(.foto){
    width: 200px;
    margin-bottom: 20px;
}

h1{
    margin-bottom: 10px;
}

h2{
    color: #2e7d32;
    margin: 15px 0;
}

p{
    margin-bottom: 15px;
    line-height: 1.6;
}

ul{
    text-align: left;
    margin: 20px auto;
    width: fit-content;
}

.botao{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover{
    background-color: #1b5e20;
}
j